<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://www.seekpng.com/png/small/138-1387775_login-to-do-whatever-you-want-login-icon.png" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form (ngSubmit)="AuthenticateUser()">
        <input type="text" [(ngModel)]="username" id="login" class="fadeIn second" name="login" placeholder="login">
        <input type="text" [(ngModel)]="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>